<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="UTF-8">
	<title>Node Js</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron bg-white text-center m-0">
			<h1 class="display-4">Form Pendaftaran Mahasiswa Baru</h1>
			<p class="lead">Pendaftaran mahasiswa baru tahun ajaran 2019/2020</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minima sed labore ut natus sint esse, dolorum ratione quidem aut.</p>
			<hr class="my-3">
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<form>
					<div class="form-group">
						<label for="namalengkap">Nama Lengkap</label>
						<input name="namalengkap" type="text" class="form-control" id="namalengkap" placeholder="Masukan nama anda">
					</div>
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukan email anda">
					</div>
					<div class="form-group">
						<label for="alamat">Alamat</label>
						<textarea class="form-control" name="alamat" id="alamat" cols="30" rows="3" placeholder="Masukan alamat anda"></textarea>
					</div>
					<div class="form-group">
						<label for="foto">Foto</label>
						<input id="foto" class="form-control" type="file" name="foto">
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="bg-dark py-3 mt-5">
		<div class="container">
			<div class="text-center">
				<p class="pt-2 text-white"> &copy; 2019 . Node JS</p>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>